.chooseCharWrapper {
  height: 100vh;
}

.chooseSinger {
  width: 100vw;
  text-align: center;
  font-size: 75px;
  color: white;
  font-weight: 200;
  animation: flicker2 6s infinite linear;
}

.searchButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  top: 40%;
  right: 20%;
}
