.pulseWrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.pulseContainer,
.pulseContainer2,
.pulseContainer3,
.pulseContainer4,
.pulseContainer5,
.pulseContainer6 {
  left: 15%;
  position: absolute;
  background: rgba(99, 20, 163, 0.123);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 0 0 0 0 rgb(174, 130, 231);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.pulseContainer {
  left: 15%;
}

.pulseContainer2 {
  left: 16%;
  bottom: 50%;
}

.pulseContainer3 {
  left: 60%;
  bottom: 15%;
}

.pulseContainer4 {
  left: 7%;
  bottom: 7%;
}

.pulseContainer5 {
  left: 80%;
  bottom: 60%;
}

@keyframes pulse {
  0% {
    transform: scale(2);
    box-shadow: 0 0 0 0 rgba(95, 143, 233, 0.418);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(185, 128, 238, 0);
  }

  100% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(187, 111, 231, 0.062);
  }
}
