.gameOverDisplay {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.gameOverLogo {
  width: 80vw;
  animation: flickerGameOver 0.5s linear;
}

@keyframes flickerGameOver {
  0% {
    transform: scale(3);
  }

  25% {
    transform: scale(2.5);
  }

  50% {
    transform: scale(2);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
