.fightContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.readyFight {
  font-size: 75px;
  text-align: center;
  color: white;
  font-weight: 200;
  animation: flicker2 6s infinite linear;
}

@keyframes flicker2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 60px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
