.logo {
  width: 100vw;
  margin-top: 7vh;
}

.omgLogo {
  width: 70%;
  margin-left: 7%;
}

.homeButton {
  margin-top: 10%;
}

@media only screen and (max-width: 1500px) {
  .omgLogo {
    width: 75%;
  }

  .logo {
    margin-left: 0%;
    margin-top: 6vh;
  }
}
