.logo {
  width: 100vw;
  margin-top: 7vh;
}

.omgLogo {
  width: 70%;
  margin-left: 7%;
  animation: myAnimation 0.4s linear, flickerLogo 2s infinite linear;
}

.homeButton {
  margin-top: 10%;
}

@keyframes flickerLogo {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.03);
  }

  50% {
    transform: scale(1.06);
  }

  75% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }

  .omgLogo {
    margin: 0;
    height: 40%;
  }

  .logo {
    height: 20vh;
    width: 93%;
    margin: 30vh 0 0 0;
  }
}
