.searchSinger {
  padding-left: 8vh;
  width: 35%;
  height: 10vh;
  background-color: #0f0526;
  font-size: 1.87rem;
  border-radius: 40px;
  box-shadow:
    0 0 0.2rem #fff,
    0 0 0.2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
  border: 3px solid #0ec4f1;
  color: white;
}

.searchSinger,
.inputLogo {
  margin-left: 40px;
}

.inputLogo {
  width: 4vh;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 4vh;
  transform: translate(-50%, -50%);
}

.wrap {
  width: 100vw;
  position: relative;
}

.singerResults {
  margin-top: 2%;
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchSingerImage {
  height: auto;
  width: 500px;
  border-radius: 50% 15px 15px 0%;
  box-shadow:
    0 0 1rem #fff,
    0 0 0.4rem #fff,
    0 0 6rem #0ec4f1,
    0 0 10rem #0ec4f1,
    0 0 3.8rem #0ec4f1,
    inset 0 0 1.3rem #0ec4f1;
  border: 3px solid #0ec4f1;
}

.searchSingerName {
  font-size: 40px;
  color: white;
  text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}

@media only screen and (max-width: 768px) {
  .searchSinger {
    height: 7vh;
    width: 80%;
    margin: 0;
  }

  .searchSinger,
  .inputLogo {
    margin-left: 0;
  }

  ::placeholder {
    font-size: 20px;
  }

  .searchSingerImage {
    height: auto;
    width: 250px;
    padding: 0;
  }

  .singerResults {
    margin: 0 0 0 19%;
  }
}
