.LifeBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.hpCount {
  color: white;
  text-shadow: 0 0 4px #fff, 0 0 60px #fff, 0 0 19px #fff, 0 0 40px #0fa,
    0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}

progress[value] {
  appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 1rem #fff, 0 0 0.4rem #fff, 0 0 6rem #0ec4f1,
    0 0 10rem #0ec4f1, 0 0 3.8rem #0ec4f1, inset 0 0 1.3rem #0ec4f1;
  overflow: hidden;
}

progress::-moz-progress-bar {
  background-color: rgba(255, 255, 255, 1);
}
