.LifeBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

progress[value] {
  appearance: none;
  width: 300px;
  height: 30px;
  border-radius: 3px;
}
