body {
  margin: 0;
  background-image: url('/src/components/Game/Assets/background.png');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}
